body {
  margin: 0;
  /* background-color: #e5e5e5; */
 /* background-image: url('landing.png'); */
}

* {
 margin:0;
 padding:0;
 box-sizing:border-box;


}
.navbar{
  margin:11px 30px;
justify-content:right;
text-decoration:none;

}
